@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");

body {
  margin: 0;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  background-color: #fafafa;
}

.container {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.authorTitle-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.maintTitle {
  font-size: 50px;
  text-align: center;
  margin: 10px;
}

.authorTitle {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.dialogue-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.displayWeather {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  border: 1px solid #ec6e4c;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #f5f5f5;
}

.location{
  margin: 10px;
}

.temperature{
  margin: 10px;
}

.coat-check {
  font-size: 30px;
  text-align: center;
  border: 1px solid #ec6e4c;
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 10px;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.weather-image {
  max-width: 20%;
  height: auto;
}

.button {
  background-color: #222222;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
